.nav-link{
    background-color: #FF6600;
    border-radius: 10px;
    margin: 11px
}
#body{
    background-image:  url(img/Immagine_sito.jpeg)
}
#body{
    background-position: center center
}
#body{
    background-repeat: no repeat
}
#body{
    background-attachment: fixed
}
#body{
    background-size: cover
}
#container{
    margin-left: 500px;
    margin-right: 500px;
    background-color: #D2D2D2;
    border-radius: 10px;
}
#containerregistrati{
    margin-left: 600px;
    margin-right: 600px;
    background-color: #D2D2D2;
    border-radius: 10px;
}
#containeraccedi{
    margin-left: 600px;
    margin-right: 600px;
    background-color: #D2D2D2;
    border-radius: 10px;
}
#containerhome{
    margin-left: 600px;
    margin-right: 600px;
    background-color: #D2D2D2;
    border-radius: 10px;
}